<div class="booking-summary">

    <select
        ng-model="SharedResource.sharedData.selectedCurrency"
        ng-options="currency.value for currency in SharedResource.sharedData.currencies">
    </select>

    <br />

    <h1>SUMMARY</h1>

    <div class="clearfix" ng-repeat="date in SharedResource.sharedData.trip.dates">

        <div class="fade" ng-if="date.selected">

            <!--pre trips-->
            <div class="clearfix fade" ng-if="tour.type === 'pre' && tour.selected" ng-repeat="tour in SharedResource.sharedData.trip.tours">

                <br />
                <i>Pre Trip Tour:</i>
                <h2>{{ tour.title }}
                </h2>

                <div jmd-date date-code="{{date.from}}" day-diff="{{-tour.days}}">
                </div>

                <div class="booking-summary-divider">
                    <span class="booking-summary-arrow">&#10140;
                    </span>
                </div>

                <div jmd-date date-code="{{date.from}}">
                </div>

                <br />
                <br />

                <hr />

                <div class="clearfix">

                    <div class="float-left">
                        {{ SharedResource.sharedData.trip.totalGuests }} guest<span ng-show="SharedResource.sharedData.trip.totalGuests !== 1">s</span>
                    </div>

                    <div class="float-right">
                        {{ tour.perPerson * SharedResource.sharedData.trip.totalGuests | currency }}
                    </div>

                </div>

                <hr />

            </div>

            <!-- main tour -->

            <div>

                <br />
                <h2>{{ SharedResource.sharedData.trip.name }}
                </h2>

                <div class="clearfix">

                    <div jmd-date date-code="{{date.from}}">
                    </div>

                    <div class="booking-summary-divider">
                        <span class="booking-summary-arrow">&#10140;
                        </span>
                    </div>

                    <div jmd-date date-code="{{date.to}}">
                    </div>

                </div>

                <hr />

                <div class="clearfix">

                    <div class="float-left">
                        {{ SharedResource.sharedData.trip.totalGuests }} guest<span ng-show="SharedResource.sharedData.trip.totalGuests !== 1">s</span>
                    </div>

                    <div class="float-right">
                        {{ SharedResource.sharedData.trip.totalGuestCost | currency }}
                    </div>

                </div>

                <hr />

            </div>

            <!--post trips-->
            <div class="clearfix fade" ng-if="tour.type === 'post' && tour.selected" ng-repeat="tour in SharedResource.sharedData.trip.tours">


                <br />
                <i>Post Trip Tour:</i>
                <h2>{{ tour.title }}
                </h2>

                <div jmd-date date-code="{{date.to}}">
                </div>

                <div class="booking-summary-divider">
                    <span class="booking-summary-arrow">&#10140;
                    </span>
                </div>
                
                <div jmd-date date-code="{{date.to}}" day-diff="{{tour.days}}">
                </div>

                <br />
                <br />

                <hr />

                <div class="clearfix">

                    <div class="float-left">
                        {{ SharedResource.sharedData.trip.totalGuests }} guest<span ng-show="SharedResource.sharedData.trip.totalGuests !== 1">s</span>
                    </div>

                    <div class="float-right">
                        {{ tour.perPerson * SharedResource.sharedData.trip.totalGuests | currency }}
                    </div>

                </div>

                <hr />

            </div>

        </div>


    </div>

    <br />

    <div class="clearfix">

        <div class="float-left">
            <b>TOTAL
            </b>
        </div>

        <div class="float-right">
            <b>{{ SharedResource.sharedData.trip.grandTotal | currency }}
            </b>
        </div>

    </div>

    <div class="clearfix">

        <div class="float-left">
            DEPOSIT
        </div>

        <div class="float-right">
            {{ SharedResource.sharedData.trip.grandTotal*.1 | currency }}
        </div>

    </div>

    <br />

    <div class="clearfix">

        <a ng-if="nextPage.label && !bookingform.$invalid" ng-href="#/{{ tripName }}/{{ nextPage.label }}"
            class="call-to-action float-right">CONTINUE <span class="icon icon-arrow-right"></span>
        </a>

        <div ng-show="bookingform.$invalid" class="warning">
            Please complete form before continuning.
        </div>

    </div>

</div>
