<div ng-controller="tourSelectorCtrl" ng-if="SharedResource.sharedData.trip.tours">
    
    <div class="tour-wrapper clearfix" ng-repeat="tour in SharedResource.sharedData.trip.tours">

        <div class="tour-image">

            <h2>{{ tour.type }}-TRIP TOUR</h2>

            <h3>
                
                Enhance the 

                <span ng-if="tour.type === 'pre'">start</span>
                <span ng-if="tour.type === 'post'">end</span>
                
                of your trip

            </h3>

            <img ng-src="{{ tour.image }}" />

        </div>

        <div class="tour-details">
            
            <h2>{{ tour.title }}</h2>
            {{ tour.days }} days<br />
            <br />
            Per person: {{ tour.perPerson | currency }}<br />
            Total for all {{ sharedResource.sharedData.formData.totalGuests }} travellers: 

            {{ tour.perPerson * SharedResource.sharedData.formData.totalGuests | currency }}

            <br /><br />

            <div class="clearfix">

            <button ng-click="changeTour(tour, tour.type, $index)" class="float-right general-action-2">

                <span ng-if="!tour.selected">
                    ADD 
                </span>

                <span ng-if="tour.selected">
                    REMOVE 
                </span>

                TRIP 

            </button>

            </div>

            <br />

<!--            this is a test

            <br />

            <div class="slide-down" ng-if="tour.showInformation">
                <br />
                more info testermore info testermore info testermore info testermore info 
                testermore info testermore 
                info testermore info testermore info testermore info testermore info tester
            </div>

            <br />

            <button ng-click="changeInformation(trip)" class="general-action">

                <span ng-if="tour.showInformation">
                    LESS
                </span>

                <span ng-if="!tour.showInformation">
                    MORE
                </span>

                INFORMATION

            </button>-->

        </div>

    </div>

    

</div>