[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
 
@font-face {
    font-family: 'Conv_Nobel-Regular';
    src: url('../fonts/Nobel-Regular.eot');
    src: local('☺'), url('../fonts/Nobel-Regular.woff') format('woff'), url('../fonts/Nobel-Regular.ttf') format('truetype'), url('../fonts/Nobel-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.chromeframe {

	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999999;
	padding:20px;
	background:#fff;
	font-size:15px;
	text-align:center;

	a {
		color:#999;
		text-decoration:underline;
	}

}

body {
    font-family: Conv_Nobel-Regular, Arial;
    color:#555;
    font-size:13px;
    overflow:hidden;
    overflow-y:scroll;
}

* {
    box-sizing:border-box;
}

h1, h2, h3, h4, h5 {
    font-weight:normal;
}

.top-links {

    font-size:15px;
    margin: 0 -10px 10px;

	a {
		color:#000;
		background:#eee;
		padding:5px 10px;
	}

}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.general-info {
    color:#799411;
}

.warning {
    color:#f00;
}

.page-wrapper {
    width: 960px;
    margin: 30px auto;

	img {
		max-width:100%;
	}

}

.page-mask {

    background:#fff;
    background:rgba(255,255,255,.75);
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100;
    display:table;
    color:#666;
    font-size:12px;

	&.ng-leave {
		@include transition(all 500ms);
		opacity:1;
	}

	&.ng-leave-active {
		@include transform(scale(1.1));
		opacity:0; 
	}

	> div {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

}

select, input {
    padding:5px;
    border: 1px #ccc solid;
    font-size:12px;
}

.call-to-action {

    color:#333 !important;
    padding:0 15px;
    font-weight:bold;
    background:#fc0;
    outline:none;
    border:none;
    height:30px;
    line-height:30px;

	&:hover {
		text-decoration:none;
		color:#fc0 !important;
		background:#333;
	}

	span {
		margin-left:5px;
	}

}

.general-action {
    padding:0 5px;
    background:#ffeda6;
    border:none;
    font-size:11px;
    color:#666;
    outline:none;
    display:inline-block;
    height:16px;
    line-height:16px;

	&:hover {
		color:#000;
		text-decoration:none;
		@include transition(all 400ms);
	}

}

.general-action-2 {
    padding: 0 8px;
    border: #fecd07 solid 3px;
    background: #fff;
    font-size: 12px;
    outline:none;
    color:#333;
    height:25px;
    line-height:18px;


	&:hover {
		border-color:#333;
		text-decoration:none;
		@include transition(all 400ms);
	}

}

hr {
    width:100px;
    text-align:left;
}

.col-wrapper {
    margin-top:20px;
}

.col-main {
    width:720px;
    float:left;
    margin-top:20px;
}

.col-summary {

    width:240px;
    float:left;

	select {
		width:100%;
	}

	h1 {
		background:#000;
		color:#fff;
		font-size:16px;
		text-align:center;
		padding:2px 0;
		margin-bottom:0;
	}

	h2 {
		font-size:16px;
		text-transform:capitalize;
		margin:0;
	}

	h3 {
		text-transform:uppercase;
	}

	hr {
		width:100%;
		margin:10px 0;
	}

}

a {

    text-decoration:none;

	&:hover {
		text-decoration:underline;
	}

}

.booking-engine-header {

    height:240px;
    position:relative;
    margin:0 -10px;

	img {
		height:100%;
		width:100%;
	}

	&:after {
		content:"";
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:50%;
		@include background-image(linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)));
	}

}

.booking-engine-title {
    position:absolute;
    left:0;
    bottom:0;
    margin:0;
    padding:15px 20px;
    color:#fff;
    font-size:25px;
    z-index:1;
    text-shadow: 0 0 5px #000, 0 5px 10px #000;
    text-transform:uppercase;
}

.fade.ng-enter, .fade.ng-leave-active {
    @include transition(all 500ms);
    @include transform(translateY(5px));
    opacity:0;
}
 
.fade.ng-enter-active, .fade.ng-leave {
    @include transform(translateY(0));
    opacity:1;
}