.confirmation-message img {
    margin-right:20px;
    float:left;
}

.confimration-receipt {
    border-top:1px solid #ccc;
    text-transform:uppercase;
    margin:20px 0;
}

.confirmation-total {
    padding-top:5px;
    margin-top:5px;
    border-top:1px dashed #ccc;
}