.tour-wrapper {
    padding:10px;
    background:#f2f2f2;
    border-top: #ccc solid 2px;
    margin-top:20px;
}

.tour-wrapper h2 {
    margin:0;
    padding:0;
    text-transform:uppercase;
}

.tour-wrapper h3 {
    margin:0;
    padding:0;
    font-size:11px;
    font-weight:normal;
    text-transform:uppercase;
}

.tour-image {
    width:40%;
    float:left;
    padding-right:20px;
}

.tour-image img {
    margin-top:10px;
    width:100%;
    height:170px;
}

.tour-details {
    width:60%;
    float:left;
}

.tour-information {
    max-height:50px;
    overflow:hidden;
    position:relative;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.tour-information.expanded {
    max-height:1000px;
    padding-bottom:30px;
}

.tour-information label {
    position:absolute;
    bottom:0;
    right:0;
    z-index:1;
    cursor:pointer;
}

.tour-information input {
    display:none;
}

.tour-information:after {
    content:"";
    background: -moz-linear-gradient(top,  rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,0)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* W3C */
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    transition: top 500ms;
}

.tour-information.expanded:after {
    top:100%;
}


.tour-help {
    margin-top:20px;
    padding:20px;
    border: 1px solid #ccc;
}

.tour-help h2 {
    margin-top:0;
}

.tour-help select {
    margin-left:10px;
}

.tour-help-contact {
    float:right;
    border-left:1px solid #ccc;
    padding-left:10px;
}