<div>
    
    <div class="pre-trip-wrapper clearfix" ng-repeat="preTrip in SharedResource.trip.preTrips">

        <div class="pre-trip-image">

            <h2>PRE-TRIP TOUR</h2>
            <h3>Enhance the start of your trip</h3>

            <img ng-src="{{ preTrip.image }}" />

        </div>

        <div class="pre-trip-details">
            
            <h2>{{ preTrip.title }}</h2>
            {{ preTrip.days }} days<br />
            <br />
            Per person: {{ preTrip.perPerson | currency }}<br />
            Total for all 8 travellers: €8,000.00 

            <br /><br />

            <div class="clearfix">

            <button ng-click="addPreTrip(preTrip)" class="float-right general-action-2">

                <span ng-if="!preTrip.selected">
                    ADD 
                </span>

                <span ng-if="preTrip.selected">
                    REMOVE 
                </span>

                TRIP

            </button>

            </div>

            <br />

            this is a test

            <br />

            <div class="slide-down" ng-if="preTrip.showInformation">
                <br />
                more info testermore info testermore info testermore info testermore info 
                testermore info testermore 
                info testermore info testermore info testermore info testermore info tester
            </div>

            <br />

            <button ng-click="changeInformation(preTrip)" class="general-action">

                <span ng-if="preTrip.showInformation">
                    LESS
                </span>

                <span ng-if="!preTrip.showInformation">
                    MORE
                </span>

                INFORMATION

            </button>

        </div>

    </div>

</div>