<div class="booking-summary">

    <h2>WHAT NEXT?</h2>

    <hr />

    <h3>INFORMATION ON {{ SharedResource.sharedData.trip.country }}</h3>

    <a href="#">> Climate</a><br />
    <a href="#">> Fact Book</a><br />
    <a href="#">> CDC Information</a>

    <br />

    <h3>TRAVEL STORE</h3>

    <a href="#">> Clothing</a><br />
    <a href="#">> Visa & passports</a><br />
    <a href="#">> Currency exchange</a>

    <br />

    <h3>USEFUL INFORMATION</h3>

    <a href="#">> Visa & passports</a><br />
    <a href="#">> Staying healthy on the road</a><br />
    <a href="#">> Protection & precaution</a>

    <br />

</div>