<br />

<b>Thank you for your booking {{ SharedResource.sharedData.trip.guests[0].firstname }}</b>
, we have emailed you the details of this booking for your records to {{ SharedResource.sharedData.trip.guests [0].email }}<br />
<h2>BOOKING REFERENCE AKYU501520</h2>

<div class="confirmation-message clearfix">

    <img src="/img/confirmation.jpg" />

    <h3>Thanks for booking</h3>

    A travel consultant will be in touch shortly by phone to ensure your journey is perfectly arranged.<br />

    Email us on <a class="general-action" href="mailto:support@holiday.com">support@holiday.com</a>

</div>

<div class="confimration-receipt clearfix">

    <h2>RECEIPT</h2>

    <div class="clearfix" ng-repeat="tour in SharedResource.sharedData.trip.tours">

        <div class="fade" ng-if="tour.type === 'pre' && tour.selected">

            <div class="float-left">
                {{ tour.title }} 
            </div>

            <div class="float-right">
                {{ tour.perPerson * SharedResource.sharedData.trip.totalGuests | currency }}
            </div>

        </div>

    </div>

    <div class="clearfix">

        <div class="float-left">
            {{ SharedResource.sharedData.trip.name }} 
        </div>

        <div class="float-right">
            {{ SharedResource.sharedData.trip.totalGuestCost | currency }}
        </div>

    </div>

    <div class="clearfix" ng-repeat="tour in SharedResource.sharedData.trip.tours">

        <div class="fade" ng-if="tour.type === 'post' && tour.selected">

            <div class="float-left">
                {{ tour.title }} 
            </div>

            <div class="float-right">
                {{ tour.perPerson * SharedResource.sharedData.trip.totalGuests | currency }}
            </div>

        </div>

    </div>

    <div class="clearfix confirmation-total">

        <div class="float-left">
            <b>total</b>
        </div>

        <div class="float-right">
            <b>
            {{ SharedResource.sharedData.trip.grandTotal | currency }}
            </b>
        </div>

    </div>

</div>

<article ng-include="'app/partials/extras.html'">
</article>
