<body style="font-style: italic">
    <div ng-controller="jmdPaginationCtrl" class="pagination clearfix">

    <button
        ng-click="SharedResource.goToPage($index+1)"
        ng-repeat="page in pages" 
        ng-disabled="$index > SharedResource.sharedData.currentPage-2"
        ng-class="{ active: $index === SharedResource.sharedData.currentPage-1 }">
        <span ng-class="{ completed: $index < SharedResource.sharedData.currentPage-1 }">{{ $index+1 }}</span>
        {{ page.label }}
    </button>

</div>