<div class="pagination clearfix">

    <a ng-href="#/{{ tripName }}/{{ page.label }}"
        ng-repeat="page in pages" 
        ng-if="$index < currentPageIndex">
        <span ng-class="{ completed: $index < currentPageIndex }">{{ $index+1 }}</span>
        {{ page.label }}
    </a>

    <div 
        ng-repeat="page in pages" 
        ng-class="{ active: page.label === currentPage }"
        ng-if="$index >= currentPageIndex">
        <span>{{ $index+1 }}</span>{{ page.label }}
    </div>

</div>